{% extends 'base.html.twig' %}
{% block nav %}
  <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
    <ul class="site-menu main-menu js-clone-nav ml-auto ">
      <li><a href="{{ path('service_index') }}" class="nav-link">Accueil</a></li>
    </ul>
  </nav>
{% endblock %}
{% block body1 %} 
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="img-years">
              <img src="{{ asset('images/'~service.image) }}" alt="Image" class="img-fluid">

              <div class="year">
                <span>{{service.price}}€</span>
              </div>
            </div>

          </div>
          <div class="col-lg-5 ml-auto pl-lg-5 text-center">
            <h3 class="scissors text-center">{{service.name}}</h3>
            <p class="mb-5 lead">{{service.description}}</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %} 
{% block body2 %} {% endblock %}

