{% extends 'base.html.twig' %}
{% block nav %}
  <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
    <ul class="site-menu main-menu js-clone-nav ml-auto ">
      <li><a href="{{ path('service_index') }}" class="nav-link">Accueil</a></li>
    </ul>
  </nav>
{% endblock %}
{% block body1 %} 
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h3 class="scissors text-center">{{ service.name }}</h3>
            <p class="mb-5 lead">{{ service.description }}</p>
          </div>
        </div>
        <div class="row hair-style">
          <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <a href="#" class="place">
              <img src="{{ asset('images/'img_1.jpg) }}" alt="Image placeholder">
              
              <h2>Beard Shaving</h2>
              <span>{{ service.price }} euros.</span>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %} 
{% block body2 %} {% endblock %}

